.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;

}
#doler{
    color: deeppink;
}
.carousel-item{
    padding: 20px 40px;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
}
.cat-1, .cat-2, .cat-3{
    padding: 20px 100px;
    border-radius: 10px;
}
.cat-1{
    background-color: red;
}
.cat-2{
    background-color: #ff136f;
}
.cat-3{
    background-color: blue;
}
.container-categories  h1{
    color: white;
}
.container-categories img{
    width: 100px;
}
.shoes{
    marker-mid: none;
    color: #ff136f;
    margin-bottom: 100px;
}
.new brand{
    background-color: #ff136f;
}
.new button{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
}
.card1, .card2, .card3{
    margin-bottom: 100px;

}
.card{
    margin-bottom: 100px;
    border-radius: 10px;
    padding-bottom: 100px;
    box-shadow: 5px 5px lightgray;
    
}
.new button2{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
}
.another{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff136f 100%);
    color: white;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    padding: 9px 25px;
}
#contact {
    height: 300px;
}
footer{
    text-align: center;
}
